/**
  @tabs-base
------------------------------------------------------ */


// Accordion for mobile view

.aria-accordion {
	// .aria-accordion--toggle
	&--toggle {
		// .aria-accordion--toggle__icon
		&__icon {
			display: none;

			.js & {
				display: inline-block;
			}
		}
	}
}

@media all and (max-width: 767.99px) {
	.tabbed-panel[hidden='true'] {
		display: block;

		.aria-accordion {
			// .aria-accordion--content
			&--content {
				display: none;
			}
		}
	}
}

@media all and (min-width: 768px) {
	.tabbed {
		// .tabbed-panel
		&-panel {
			.aria-accordion--heading {
				display: none;
			}
		}
	}
}
