/**
  @tabs-theme
------------------------------------------------------ */

.tabbed {
	// .tabbed-tabs
	&-tabs {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;

		// .tabbed-tabs--tab
		&--tab {
			flex-grow: 1;

			// .tabbed-tabs--tab__link
			&__link {
				border-bottom: 2px solid var(--grey);
				color: var(--dark-grey);
				display: block;
				font-size: 1rem;
				font-weight: 700;
				padding: var(--base-margin);
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: var(--primary);
					border-bottom-color: var(--primaryLight);
					color: var(--white);
				}

				&:focus {
					color: var(--primary);
				}

				&[aria-selected='true'] {
					background-color: var(--primaryLight);
					border-bottom-color: var(--primary);
					color: var(--primary);
				}
			}
		}
	}
}

.aria-accordion {
	// .aria-accordion--toggle
	&--toggle {
		align-items: center;
		background-color: var(--grey);
		border-radius: 4px;
		color: var(--primary);
		display: flex;
		font-size: 1rem;
		padding: var(--base-margin);
		text-align: left;
		width: 100%;

		// .aria-accordion--toggle__icon
		&__icon {
			display: none;
			flex-shrink: 0;
			font-size: 1.4rem;
			line-height: 1;
			margin-right: calc(var(--base-margin) / 2);
			transform: rotate(45deg);
			transition: transform .25s;

			.js & {
				display: inline-block;
			}
		}
	}
}

@media all and (max-width: 767.99px) {
	.tabbed-panel[hidden='true'] {
		.aria-accordion {
			// .aria-accordion--toggle__icon
			&--toggle__icon {
				transform: rotate(0deg);
			}
		}
	}
}

@media all and (min-width: 768px) {
	.tabbed {
		// .tabbed-tabs
		&-tabs {
			display: flex;
		}

		// .tabbed-panel
		&-panel {
			padding: var(--base-margin) 0;

			.aria-accordion--heading {
				display: none;
			}
		}
	}
}
