// A tiny bit of flair

:root {
	--base-margin: 20px;
	--primary: #5090D0;
	--primaryLight: rgba(80, 144, 208, .1);
	--white: #fff;
	--grey: #f1f1f1;
	--dark-grey: #444;
}

html {
	font: 400 16px/1.8 Lato, Helvetica, Arial, sans-serif;
}
